* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(245,249,253);
}
.nav-bar {
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 4px solid #ccc;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.logo {
  justify-self: start;
  color: black;
  text-decoration: none;
}
.search-bar {
  justify-self: end;
}