@import url('https://fonts.googleapis.com/css?family=Mukta|Mukta:800');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}
body {
  background-color:rgb(251,251,251);
  height: 100%;
}
.nav-bar {
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(240,240,240);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 10px;
}
.logo {
  justify-self: start;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.image-logo {
  width: 30%;
  display: block;
}
.search-bar {
  justify-self: end;
  margin-right: 20px;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 36%;
}
.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  border: 1px solid rgb(220,220,220);
  border-radius: 8px;
  padding: 7px 13px;
  font-size: 17px;
  text-align: center;
}
.input:focus {
  outline: none;
}
.button-submit {
  color: #000;
  font-size: 19px;
  padding: 8px 22px;
  text-decoration: none;
}
.button-submit:hover {
  cursor: pointer;
  text-decoration: underline;
}
.forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.forecast-items {
  display: flex;
  width: 33%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
  text-decoration: none;
}
.forecast-items:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.picture {
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  background: white;
  display: block;
  margin: auto;
  text-align: center;
}
h2 {
  color: #000;
}
.card {
  border-radius: 6px;
  background-color: white;
  padding: 6px;
  margin: 10px auto 0 auto;
  width: 35%;
  text-align: center;
  border: 1px solid rgb(240,240,240);
}
@media(max-width: 680px) {
  .forecast {
    flex-direction: column;
  }
  .forecast-items {
    width: auto;
  }
}